$textColorLightVariant1: #fff;
$textColorLightVariant2: #fafafa;
$textColorLightVariant3: #f9f9f9;

$backgroundColorLightVariant1: #fff;
$backgroundColorLightVariant2: #fafafa;
$backgroundColorLightVariant3: #f9f9f9;

$textColorDarkVariant1: #000;
$textColorDarkVariant2: #111;
$textColorDarkVariant3: #101010;

$backgroundColorDarkVariant1: #000;
$backgroundColorDarkVariant2: #111;
$backgroundColorDarkVariant3: #101010;

$enterBtnType1Gradient1: #ff0000;
$enterBtnType1Gradient2: #ff7300;
$enterBtnType1Gradient3: #48ff00;
$enterBtnType1Gradient4: #00ffd5;
$enterBtnType1Gradient5: #002bff;
$enterBtnType1Gradient6: #7a00ff;
$enterBtnType1Gradient7: #ff00c8;
$enterBtnType1Gradient8: #ff0000;
